body {
    background-image: url("./images/topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
    margin: 0 auto;
    padding: 15px;
}

.bladeMenu {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    color: #fff;
    background-color: rgba(255, 0, 255, 0.25);
    font-family: 'Verdana';
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, auto);
    grid-gap: 15px;
}

.bladeWrapper {
    background-color: rgba(0, 255, 0, 0.5);
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

.blade {
    background-color: rgba(255, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    z-index: 10;
    transition: transform 0.3s ease-out;
    transform-origin: left center;
    transform: scaleX(1);
}

.blade.active {
    transform-origin: left center;
    transform: scaleX(0.05);
}

.content{
    height: 100%;
    position: relative;
    z-index: 5;
}

#artBlade{
    background-color: rgba(255, 255, 0, 0.5);
}

#codeBlade{
    background-color: rgba(0, 255, 255, 0.5);
}

#aboutBlade{
    background-color: rgba(255, 0, 255, 0.5);
}